body, input, button {
  font-family: 'Titillium Web', sans-serif;
  color: #f8e4c1;
  outline: none;
  font-size: 22px; }
  @media (max-width: 480px) {
    body, input, button {
      font-size: 18px; } }

a {
  color: #99afef;
  text-decoration: none; }

html, body {
  min-height: 100%; }

body {
  text-align: center;
  background: #3d2c2b url(../img/slodissey-bg.jpg) no-repeat center top; }
  @media (max-width: 480px) {
    body {
      background-image: url(../img/slodissey-bg-small.jpg); } }

.cnt {
  width: 470px;
  max-width: 98%;
  margin: 0 auto;
  padding: 135px 0 40px; }

h1 {
  font-size: 64px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  font-weight: 200;
  text-transform: uppercase;
  position: relative; }
  h1 small {
    font-size: 12px;
    vertical-align: 36px;
    margin: 0 -60px 0 -4px; }
  h1:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto 0;
    width: 270px;
    height: 0;
    border-bottom: 2px solid #f8e4c1; }

.logo {
  background: url(../img/kibulogo.png) no-repeat 0 0;
  width: 205px;
  height: 40px;
  overflow: hidden;
  text-indent: 110%;
  text-align: left;
  white-space: nowrap;
  margin: 0 auto; }

.vidcnt {
  background: #3d2c2b;
  border: 2px solid #3d2c2b;
  box-shadow: 0 0 0 3px #f8e4c1, 0 0 0 6px #3d2c2b, 0 0 0 15px #f8e4c1;
  border-radius: 3px;
  margin: 555px 15px 30px;
  position: relative; }
  .vidcnt video {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    border-radius: 2px;
    z-index: 30;
    background: url(../img/hal.png) no-repeat 50% 50%;
    background-size: contain; }
  .vidcnt:before {
    content: '';
    display: block;
    padding-bottom: 100%; }

#error.on:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 360px;
  background: url(../img/bennywarning.png) no-repeat bottom center; }

input {
  padding: 4px 15px;
  border: 1px solid #f8e4c1;
  background: #3d2c2b;
  margin: 0;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 17px;
  text-align: center; }

button {
  margin: 10px 0;
  padding: 0;
  width: 281px;
  max-width: 98%;
  height: 125px;
  overflow: hidden;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative; }
  button span {
    display: block;
    max-width: 100%;
    transition: background-position .2s; }
    button span:focus, button span:hover {
      transition: background-position .1s;
      background-position: 50% 3px; }
    button span:active {
      background-position: 50% 6px; }
  button .up {
    background: url(../img/randomup.png) no-repeat 50% 0;
    width: 181px;
    height: 66px;
    margin: 0 auto; }
  button .dn {
    background: url(../img/randown.png) no-repeat 50% 0;
    width: 281px;
    height: 87px;
    margin: -20px auto 0; }
  button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 5px;
    margin: auto 0 0;
    border-bottom: 2px solid #f8e4c1; }

::input-placeholder {
  color: #f8e4c1; }

::-webkit-input-placeholder {
  color: #f8e4c1; }

::-moz-input-placeholder {
  color: #f8e4c1; }

.label {
  text-transform: uppercase;
  color: #bb3a48;
  font-size: 1.09091 em; }

.share {
  margin: 80px auto 20px; }
  .share .fb_iframe_widget {
    vertical-align: top; }

#sharecnt {
  display: block;
  white-space: nowrap;
  overflow: auto;
  line-height: 1.5;
  font-size: .8em; }

.banner {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(30px, 110px) rotate(45deg);
  font-family: 'Lucida Grande', sans-serif;
  background: #1a1a1a;
  padding: 7px 40px;
  transform-origin: top right;
  font-size: 12px;
  margin: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 1px #1a1a1a, 0 0 10px rgba(0, 0, 0, 0.5);
  border: 1px dotted #666666;
  color: white; }

/*# sourceMappingURL=style.css.map */
